@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-body text-bodyText font-body scrollbar-hide;
  }
}

@layer components {
  .header-link {
    @apply flex items-center space-x-2 cursor-pointer;
  }

  .span {
    @apply relative uppercase text-sm font-medium before:bg-[#f9f9f9] 
    before:rounded-bl before:-bottom-1.5 before:h-0.5 before:inset-x-0 
    before:absolute before:transform before:origin-left before:scale-x-0 
    before:transition-all before:duration-200 group-hover:before:scale-x-100;
  }

  .brand {
    @apply flex relative w-52 h-32 sm:w-64 sm:h-36 border-[3px] 
    rounded-lg border-bodyText border-opacity-10 cursor-pointer shadow-xl
    overflow-hidden hover:border-opacity-80 hover:shadow-2xl hover:scale-105 
    transform transition duration-300;
  }

  .thumbnail {
    @apply flex min-w-[220px] min-h-[300px] rounded-lg overflow-hidden shadow-xl cursor-pointer border-[3px] border-[#f9f9f9] border-opacity-10  hover:border-opacity-80 
    hover:shadow-2xl transform hover:scale-105 transition duration-300;
  }


  .mask-image {
    -webkit-mask-image: linear-gradient(
      90deg,#000 70%,transparent);
  }

  .loading {
    @apply fixed z-[999] inset-0 w-screen h-screen bg-opacity-50 grid place-items-center bg-black;
  }
}
